<div ng-controller="adminDashboardController">


    <div class="col" ng-if="isMachineList">
        <div class="widget widget-stats bg-red">
            <div class="stats-icon"><i class="fa fa-desktop"></i></div>
            <div class="stats-info">
                <h4>TOTAL OFFLINE MACHINE</h4>
                <p>{{dashboardReport.totalOfflineMachine}}</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;" ui-sref="app.admin.attendance.machineList">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>

        </div>
    </div>
        <!-- begin col-3 -->
        <div class="col">
            <div class="widget widget-stats bg-gradient-teal">
                <div class="stats-icon"><i class="fa fa-bell"></i></div>
                <div class="stats-info">
                    <h4>ATTENDANCE IN(ALERT/ATTENDANCE)</h4>
                    <p>{{dashboardReport.totalAttendanceInAlert}}/{{dashboardReport.totalAttendanceIn}}</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;" ui-sref="app.admin.attendance.attendanceReport">View Attendance(s) <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>

            </div>
        </div>

    <div class="col">
        <div class="widget widget-stats bg-gradient-lime">
            <div class="stats-icon"><i class="fa fa-calendar-check"></i></div>
            <div class="stats-info">
                <h4>ATTENDANCE LATE IN(ALERT/ATTENDANCE)</h4>
                <p>{{dashboardReport.totalAttendanceLateInAlert}}/{{dashboardReport.totalAttendanceLateIn}}</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;" ui-sref="app.admin.attendance.attendanceReport">View Attendance(s) <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>

        </div>
    </div>

    <div class="col">
        <div class="widget widget-stats bg-gradient-blue">
            <div class="stats-icon"><i class="fa fa-calendar-check"></i></div>
            <div class="stats-info">
                <h4>ATTENDANCE OUT(ALERT/ATTENDANCE)</h4>
                <p>{{dashboardReport.totalAttendanceOutAlert}}/{{dashboardReport.totalAttendanceOut}}</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;" ui-sref="app.admin.attendance.attendanceReport">View Attendance(s) <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>

        </div>
    </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col">
            <div class="widget widget-stats bg-gradient-green">
                <div class="stats-icon"><i class="fa fa-bell"></i></div>
                <div class="stats-info">
                    <h4>NOTICES</h4>
                    <p>{{dashboardReport.totalAppAlert}}</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;" ui-sref="app.admin.alert.alertReport">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>

    <div class="col" ng-if="isPaymentSummary">
        <div class="widget widget-stats bg-gradient-teal">
            <div class="stats-icon"><i class="fa fa-bell"></i></div>
            <div class="stats-info">
                <h4>TOTAL FEE COLLECTION</h4>
                <p>{{dashboardReport.totalFeeCollection==null ? 0.00 : dashboardReport.totalFeeCollection}}</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;" ui-sref="app.admin.fee.feePaymentSummary">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col" ng-if="isPaymentSummary">
        <div class="widget widget-stats bg-gradient-pink">
            <div class="stats-icon"><i class="fa fa-bell"></i></div>
            <div class="stats-info">
                <h4>TOTAL DUE</h4>
                <p>{{dashboardReport.totalDue==null ? 0.00 : dashboardReport.totalDue}}</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;" ui-sref="app.admin.fee.feePaymentSummary">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->

    <div class="col">
        <div class="widget widget-stats bg-gradient-grey">
            <div class="stats-icon"><i class="fa fa-users"></i></div>
            <div class="stats-info">
                <h4>TOTAL EMPLOYEE</h4>
                <p>{{dashboardReport.totalEmployee}}</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;" ui-sref="app.admin.attendance.employeeList">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
        <div class="col">
            <div class="widget widget-stats bg-gradient-lime">
                <div class="stats-icon"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4>TOTAL STUDENT</h4>
                    <p>{{dashboardReport.totalStudent}}</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;" ui-sref="app.admin.attendance.studentList">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>


</div>