<div ng-controller="adminScreenController">
        <div class="row">
            <div class="col-4 txt-center">
                <div class="dash-icon">
                    <a ui-sref="app.admin.dashboard">
                        <img src="images/dashboard.png">
                    </a><span>Dashboard</span>
                </div>
            </div>
            <div class="col-4 txt-center" ng-if="isStudentList">
                <div class="dash-icon">
                    <a ui-sref="app.admin.attendance.studentList">
                        <img src="images/student.png">
                    </a><span>Student</span>
                </div>
            </div>
            <div class="col-4 txt-center" ng-if="isEmployeeList">
                <div class="dash-icon">
                    <a ui-sref="app.admin.attendance.employeeList">
                        <img src="images/employee.png">
                    </a><span>Employee</span>
                </div>
            </div>
            <div class="col-4 txt-center" ng-if="isAttendanceModule">
                <div class="dash-icon">
                    <a ui-sref="app.admin.attendance.attendanceReport">
                        <img src="images/attendance.png">
                    </a><span>Attendance</span>
                </div>
            </div>
            <div class="col-4 txt-center" ng-if="isAssignmentModule && isAssignment">
                <div class="dash-icon">
                    <a ui-sref="app.admin.assignment.viewAssignment">
                        <img src="images/assignment.png">
                    </a><span>Assignment</span>
                </div>
            </div>
            <div class="col-4 txt-center" ng-if="isOnlineExamModule">
                <div class="dash-icon">
                    <a ui-sref="app.admin.onlineExam.viewOnlineExam">
                        <img src="images/examonline.png">
                    </a><span>Online Exam</span>
                </div>
            </div>
            <div class="col-4 txt-center" ng-if="isAlert">
                <div class="dash-icon">
                    <a ui-sref="app.admin.alert.alertReport">
                        <img src="images/alert.png">
                    </a><span>Alert</span>
                </div>
            </div>
            <div class="col-4 txt-center" ng-if="isTimeTable">
                <div class="dash-icon">
                    <a ui-sref="app.admin.timeTable">
                        <img src="images/timetable.png">
                    </a><span>Time Table</span>
                </div>
            </div>
            <div class="col-4 txt-center" ng-if="isAttendanceModule && isSendAbsent">
                <div class="dash-icon">
                    <a ui-sref="app.admin.sendAbsentAlert">
                        <img src="images/sendabsent.png">
                    </a><span>Send Absent</span>
                </div>
            </div>
            <div class="col-4 txt-center" ng-if="isNotice">
                <div class="dash-icon">
                    <a ui-sref="app.admin.notice.viewNotice">
                        <img src="images/notice.png">
                    </a><span>Notice</span>
                </div>
            </div>
            <div class="col-4 txt-center">
                <div class="dash-icon">
                    <a ui-sref="app.admin.helpRequest">
                        <img src="images/help.png">
                    </a><span>Help</span>
                </div>
            </div>
            <div class="col-4 txt-center" ng-if="isSmartClass">
                <div class="dash-icon">
                    <a ui-sref="app.admin.smartClass">
                        <img src="images/smartclass.png">
                    </a><span>Smart Class</span>
                </div>
            </div>
            <div class="col-4 txt-center" ng-if="isAttendanceModule && isMarkAttendance">
                <div class="dash-icon">
                    <a ui-sref="app.admin.markAttendance">
                        <img src="images/markattendance.png">
                    </a><span>Mark Attd.</span>
                </div>
            </div>
            <div class="col-4 txt-center">
                <div class="dash-icon">
                    <a ui-sref="app.changePassword">
                        <img src="images/changepassword.png">
                    </a><span>Password</span>
                </div>
            </div>
            <div class="col-4 txt-center">
                <div class="dash-icon">
                    <a ui-sref="app.admin.profile">
                        <img src="images/profile.png">
                    </a><span>Profile</span>
                </div>
            </div>
            <div class="col-4 txt-center">
                <div class="dash-icon">
                    <a ng-href="{{school.siteUrl}}" target="_blank">
                        <img src="images/visitweb.png">
                    </a><span>Visit Web</span>
                </div>
            </div>
             <div class="col-4 txt-center" ng-if="isClassCalendar">
                <div class="dash-icon">
                    <a ui-sref="app.admin.classCalendar">
                        <img src="images/timetable.png">
                    </a><span>Time Table</span>
                </div>
            </div>
             <div class="col-4 txt-center" ng-if="isElearningModule">
          <div class="dash-icon">
            <a  ui-sref="app.admin.elearning.elearningMaterial">
                <img src="images/e-learning1.png">
            </a><span>E-Learning</span>
        </div>
        </div>
            <div class="col-12 txt-center social-ico">
          <ul>
  <li><a ng-href="{{generalSetting.facebookLink}}" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
  <li><a ng-href="{{generalSetting.twitterLink}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
  <li><a ng-href="{{generalSetting.instagramLink}}" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
  <li><a ng-href="{{generalSetting.youtubeLink}}" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
</ul>
        </div>
        </div>
    </div>