<div ng-controller="changePasswordController">
  

            <!-- begin panel -->
            <div class="panel panel-success">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" ui-sref="app.{{user.roleName|lowercase}}.screen"><i class="fa fa-arrow-alt-circle-left"></i></a>
                        <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>

                    </div>
                    <h4 class="panel-title">Change Password</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    <form name="changePasswordForm" novalidate>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Old Password</label>
                                <input type="password" placeholder="Old Password" name="oldPassword" ng-model="user.oldPassword" class="form-control" ng-required="true" ng-attr-type="{{ showPassword ? 'text':'password'}}" />
                                <span class="label label-danger" ng-show="changePasswordForm.oldPassword.$error.required && changePasswordForm.oldPassword.$touched">Old Password is required.</span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>New Password</label>
                                <input type="password" placeholder="New Password" name="newPassword" ng-model="user.newPassword"
                                       ng-pattern="/^(?=.*\S).+$/"    class="form-control" ng-required="true" ng-attr-type="{{ showPassword ? 'text':'password'}}" />
                                <span class="label label-danger" ng-show="changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$touched">New Password is required.</span>
                                <span class="label label-danger" ng-show="changePasswordForm.newPassword.$error.pattern && changePasswordForm.newPassword.$touched">New Password is not valid.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Confirm Password</label>
                                <input type="password" placeholder="Confirm Password" name="confirmNewPassword" ng-model="user.confirmNewPassword"
                                       ng-pattern="/^(?=.*\S).+$/"  class="form-control" ng-required="true"  ng-attr-type="{{ showPassword ? 'text':'password'}}"/>
                                <span class="label label-danger" ng-show="changePasswordForm.confirmNewPassword.$error.required && changePasswordForm.confirmNewPassword.$touched">Confirm New Password is required.</span>
                                <span class="label label-danger" ng-show="changePasswordForm.confirmNewPassword.$error.pattern && changePasswordForm.confirmNewPassword.$touched">Confirm New Password is not valid.</span>
                            </div>
                            <div class="checkbox checkbox-css m-b-10">
                                <input type="checkbox" name="showPassword" ng-model="showPassword" id="show_password" />
                                <label for="show_password">
                                    Show Password
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <input ng-click="changePassword(changePasswordForm)" type="button" class="btn btn-success btn-block btn-md" value="SUBMIT" />
                            </div>

                        </div>
                    </form>
                
                </div>
                    <!-- end panel-body -->
                </div>
            <!-- end panel -->

</div>