<div class="btn-group pull-right dropup">
    <a class="btn btn-primary">Go To</a>
    <a class="btn btn-primary dropdown-toggle"data-toggle="dropdown"></a>

    <ul class="dropdown-menu pull-right dropdown-menu-right">
        <li><a ui-sref="app.admin.alert.sendAppAlert({alertTypeId:1})">Send App Alert</a></li>
        <li><a ui-sref="app.admin.alert.sendSmsAlert({alertTypeId:2})">Send SMS Alert</a></li>
        <li><a ui-sref="app.admin.alert.alertReport">Alert Report</a></li>
    </ul>
</div>