<div ng-controller="alertuserScreenController">

        <div class="row">
            <div class="col-4 txt-center">
                <a ui-sref="app.alertuser.dashboard">
                    <img src="images/dashboard.png">
                </a>
                <br/><span class="text-white">Dashboard</span>
            </div>
            <div class="col-4 txt-center">
                <a ui-sref="app.alertuser.profile">
                    <img src="images/profile.png">
                </a>
                <br/><span class="text-white"> My Profile</span>
            </div>
            <div class="col-4 txt-center">
                <a  ui-sref="app.alertuser.alert.alertReport">
                    <img src="images/alert.png">
                </a>
                <br/><span class="text-white">Alert</span>
            </div>

            <div class="col-4 txt-center">
                <a  ui-sref="app.alertuser.helpRequest">
                    <img src="images/help.png">
                </a>
                <br/><span class="text-white">Help</span>
            </div>

        </div>

</div>