<div ng-controller="uploadAssignmentWorkFlowController">


    <!-- begin panel -->
    <div class="panel panel-success">
        <!-- begin panel-heading -->
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" ui-sref="app.student.assignment"><i class="fa fa-arrow-alt-circle-left"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>

            </div>

            <h4 class="panel-title">Ask your assignment related questions</h4>
        </div>
        <!-- end panel-heading -->
        <!-- begin panel-body -->
        <div class="panel-body">
            <form method="POST" name="assignmentForm" class="margin-bottom-0" novalidate>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="description" type="text" ng-model="assignment.description" class="form-control" ng-required="true"
                            ></textarea>

                            <span class="label label-danger" ng-show="assignmentForm.description.$error.required && assignmentForm.description.$touched">Description is required.</span>


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" capture="camera" ng-dropzone></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div>
                                <input  id="btnCamera" ng-click="openCamera()" class="btn btn-primary btn-block btn-md" value="Capture Photo" type="button" />
                            </div>

                            <input ng-click="uploadAssignmentWorkFlow(assignmentForm)" type="button" class="btn btn-success btn-block btn-md m-t-5" value="Upload" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                       <b> TEACHER COMMENT</b>
                        <div>
                            <div class="col-sm-12">

                                <table id="data-table-teacher" class="table table-striped table-bordered" datatable="" dt-instance="teacherInstance" dt-options="teacherOptions" dt-columns="teacherColumns"></table>
                            </div>
                        </div>
                <div class="row">
                    <div class="col-sm-12">
                        <b>STUDENT COMMENT</b>
                        <div>
                    <div class="col-sm-12">

                        <table id="data-table-responsive" class="table table-striped table-bordered" datatable="" dt-instance="orderInstance" dt-options="orderOptions" dt-columns="orderColumns"></table>
                    </div>
                </div>
                <input type="button" ui-sref="app.student.assignment" class="btn btn-success btn-block btn-md" value="BACK" />
            </form>
        </div>
        <!-- end panel-body -->
    </div>
    <!-- end panel -->

</div>