<div ng-controller="studentScreenController">

    <div class="row">
        <div class="col-4 txt-center">
           <div class="dash-icon">
              <a ui-sref="app.student.dashboard">
                <img src="images/dashboard.png">
            </a><span>Dashboard</span>
           </div>       
        </div>
        <div class="col-4 txt-center" ng-if="isAttendanceModule">
            <div class="dash-icon">
            <a  ui-sref="app.student.attendance.attendanceReport">
                <img src="images/attendance.png">
            </a><span>Attendance</span>
        </div>
        </div>
        <div class="col-4 txt-center" ng-if="isNotice">
          <div class="dash-icon">
            <a  ui-sref="app.student.notice">
                <img src="images/notice.png">
            </a><span>Notice</span>
        </div>
        </div>

        <div class="col-4 txt-center" ng-if="isAlert">
          <div class="dash-icon">
            <a  ui-sref="app.student.alert.alertReport">
                <img src="images/alert.png" >
            </a><span>Alert</span>
        </div>
        </div>
        <div class="col-4 txt-center" ng-if="isClassCalendar">
          <div class="dash-icon">
            <a  ui-sref="app.student.classCalendar">
                <img src="images/timetable.png">
            </a><span>Time Table</span>
        </div>
        </div>
        <div class="col-4 txt-center">
          <div class="dash-icon">
            <a  ui-sref="app.student.helpRequest">
                <img src="images/help.png">
            </a><span>Help</span>
        </div>
        </div>

        <div class="col-4 txt-center" ng-if="isSmartClass">
          <div class="dash-icon">
            <a  ui-sref="app.student.smartClass">
                <img src="images/smartclass.png">
            </a><span>Smart Class</span>
        </div>
        </div>


        <div class="col-4 txt-center" ng-if="isFeeModule && generalSetting.gateWayUrl!=null &&generalSetting.gateWayUrl!=''">
          <div class="dash-icon">
            <a  ui-sref="app.student.fee.feePayment">
                <img src="images/pay.png">
            </a><span>Pay Fee</span>
        </div>
        </div>

        <div class="col-4 txt-center" ng-if="isFeeModule">
          <div class="dash-icon">
            <a  ui-sref="app.student.fee.feeStructure">
                <img src="images/fee.png">
            </a><span>Fee</span>
        </div>
        </div>
        <div class="col-4 txt-center " ng-if="isExaminationModule">
          <div class="dash-icon">
            <a  ui-sref="app.student.examination.assessmentResult">
                <img src="images/exam.png">
            </a><span>Examination</span>
        </div>
        </div>


        <div class="col-4 txt-center">
          <div class="dash-icon">
            <a  ui-sref="app.student.downloads">
                <img src="images/download.png">
            </a><span>Downloads</span>
        </div>
        </div>
        <div class="col-4 txt-center" ng-if="isAssignmentModule">
<div class="dash-icon">
            <a  ui-sref="app.student.assignment">
                <img src="images/assignment.png" >
            </a><span>Assignment</span>
        </div>
        </div>
        <!-- <div class="col-4 txt-center ">
             <a  ui-sref="app.student.onlineQuiz">
                 <img src="images/onlinequiz.png">
             </a>
             <br/><span class="text-white">Online Quiz</span>
         </div>-->

        <div class="col-4 txt-center">
          <div class="dash-icon">
            <a  ui-sref="app.student.profile">
                <img src="images/profile.png">
            </a><span> My Profile</span>
        </div>
        </div>
 <div class="col-4 txt-center" ng-if="isAccountModule">
          <div class="dash-icon">
            <a  ui-sref="app.student.account">
                <img src="images/fee.png">
            </a><span>Account</span>
        </div>
        </div>
        <div class="col-4 txt-center" ng-if="isOnlineExamModule">
          <div class="dash-icon">
            <a ui-sref="app.student.onlineExam.viewOnlineExam">
                <img src="images/examonline.png">
            </a><span>Online Exam</span>
        </div>
        </div>
<div class="col-4 txt-center">
          <div class="dash-icon">
            <a ng-href="{{school.siteUrl}}" target="_blank">
                <img src="images/visitweb.png">
            </a><span>Visit Web</span>
        </div>
</div>
        <div class="col-4 txt-center">
          <div class="dash-icon">
            <a  ui-sref="app.changePassword">
                <img src="images/changepassword.png">
            </a><span>Password</span>
        </div>
        </div>
        <div class="col-4 txt-center" ng-if="isElearningModule">
          <div class="dash-icon">
            <a  ui-sref="app.student.elearningMaterial">
                <img src="images/e-learning1.png">
            </a><span>E-Learning</span>
        </div>
        </div>
        <div class="col-12 txt-center social-ico">
          <ul>
  <li><a ng-href="{{generalSetting.facebookLink}}" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
  <li><a ng-href="{{generalSetting.twitterLink}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
  <li><a ng-href="{{generalSetting.instagramLink}}" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
  <li><a ng-href="{{generalSetting.youtubeLink}}" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
</ul>
        </div>
    </div>
</div>