<div class="btn-group pull-right dropup">
    <a class="btn btn-primary">Go To</a>
    <a class="btn btn-primary dropdown-toggle"data-toggle="dropdown"></a>

    <ul class="dropdown-menu pull-right dropdown-menu-right">
        <li><a ui-sref="app.teacher.attendance.attendanceReport">Attendance Report</a></li>
        <li><a ui-sref="app.teacher.attendance.alertReport">Alert Report</a></li>
        <li><a ui-sref="app.teacher.attendance.monthlyReport">Monthly Report</a></li>
        <li><a ui-sref="app.teacher.attendance.attendanceInOut">In/Out Report</a></li>
        <li><a ui-sref="app.teacher.attendance.attendanceInOutDiscrepancy">In/Out Discrepancy</a></li>
        <li><a ui-sref="app.teacher.attendance.absentReport">Absent Report</a></li>
        <li><a ui-sref="app.teacher.attendance.holidayCalendar">Holiday Calendar</a></li>

    </ul>
</div>