<div class="btn-group pull-right dropup">
    <a class="btn btn-primary">Go To</a>
    <a class="btn btn-primary dropdown-toggle"data-toggle="dropdown"></a>

    <ul class="dropdown-menu pull-right dropdown-menu-right">
        <li><a ui-sref="app.teacher.onlineExam.uploadOnlineExam" ng-if="isUploadOnlineExam">Upload Online Exam</a></li>
        <li><a ui-sref="app.teacher.onlineExam.viewOnlineExam">View Online Exam</a></li>
        <li><a ui-sref="app.teacher.onlineExam.viewOnlineExamResult">Online Exam Result</a></li>
    </ul>
</div>